<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.SignupMapper">

    <select id="query" parameterType="java.util.Map" resultType="java.util.Map">
        select dbs.id
             ,dbs.project_id as projectId
             ,dbs.school_id as schoolId
             ,dbs.create_user_id as createUserId
             ,dbs.ranks
             ,dbs.status
             ,dbs.captain
             ,dbs.url
             ,dbs.instructor
             ,dbs.contestants
             ,dbs.people_num as  peopleNum
             ,dbs.phone_num as phoneNum
             ,dbs.program_name as programName
             ,dbs.program_eng_name as programEngName
             ,dbs.company
             ,dbs.participating_account as participatingAccount
             ,tu.name as createUserName
             ,dbp.name as projectName
             ,dbsc.name as schoolName
        from db_signup dbs
        left join tuser tu on tu.id=dbs.create_user_id
        left join db_project dbp on dbp.id=dbs.project_id
        left join db_school dbsc on dbsc.id=dbs.school_id
        where 1=1
        <if test="schoolId!=null and schoolId!=''">
          and  dbs.school_id=#{schoolId}
        </if>
        <if test="createUserId!=null and createUserId!=''">
            and  dbs.create_user_id=#{createUserId}
        </if>
        <if test="status!=null and status!='' and status!='null' " >
            and  status in(2,3)
        </if>

        <if test="programName!=null and programName!='' and programName!='null'">
            and program_name LIKE concat(concat('%',#{programName}),'%')
        </if>


        <if test="page">
            limit ${offset}, ${pageSize}
        </if>
    </select>
    <select id="getCount" parameterType="java.util.Map" resultType="Int">
        select count(0)
        from db_signup   where 1=1
        <if test="schoolId!=null and schoolId!=''">
            and  school_id=#{schoolId}
        </if>
        <if test="status!=null and status!='' and status!='null' " >
            and  status in(2,3)
        </if>
        <if test="createUserId!=null and createUserId!=''">
            and  create_user_id=#{createUserId}
        </if>
        <if test="programName!=null and programName!='' and programName!='null'">
            and program_name LIKE concat(concat('%',#{programName}),'%')
        </if>
    </select>


    <select id="querySignupByProjectId" parameterType="int" resultType="java.util.Map">
        select
               dbp.code     as projectCode,
               dbc.code      as competitonCode
        from db_project dbp
        left join  db_competition dbc  on dbc.id=dbp.competition_id
        where dbp.id = ${value}
    </select>


    <select id="querySignupById" parameterType="int" resultType="Signup">
        select id,
               project_id     as projectId,
               school_id      as schoolId,
               create_user_id as createUserId,
               ranks,
                status,
               captain,
               instructor,
               contestants,
               url
        from db_signup
        where id = ${value}
    </select>
    <insert id="insertSignup" useGeneratedKeys="true" keyProperty="id"
            parameterType="Signup">
        insert into db_signup
        (project_id, school_id, create_user_id, ranks, captain, instructor, contestants, people_num, program_name,
         program_eng_name, participating_account, phone_num, company,url)
        values (#{projectId}, #{schoolId}, #{createUserId}, #{ranks}, #{captain}, #{instructor}, #{contestants},
                #{peopleNum}, #{programName}, #{programEngName}, #{participatingAccount}, #{phoneNum}, #{company},#{url});
    </insert>
    <update id="updateSignup" parameterType="Signup">
        update db_signup
        set project_id=#{projectId},
            school_id=#{schoolId},
            create_user_id=#{createUserId},
            ranks=#{ranks},
            captain=#{captain},
            instructor=#{instructor},
            contestants=#{contestants}
        where id = #{id}
    </update>

    <update id="updateSignupByStatus" parameterType="Signup">
        update db_signup
        set status=#{status}
        where id = #{id}
    </update>
    <update id="updateSignupByPay" parameterType="Signup">
        update db_signup
        set status=#{status}
        where school_id=#{schoolId} and status=1
    </update>

    <delete id="deleteSignup" parameterType="int">
        delete
        from db_signup
        where id = #{id}
    </delete>
</mapper>
 